{# Dywee\OrderBundle\Resources\View\Basket\facturation.html.twig #}

{%  extends "DyweeOrderBundle::layout.html.twig" %}

{% block title %}
    {{ 'Adresse de facturation'|trans }} {{ parent() }}
{% endblock %}

{% block translationLinks %}
    <a href="{{ path('dywee_basket_step2', {_locale: 'fr'}) }}"><img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" alt="Version francophone" width="28" /></a>
    {#<a href="{{ path('dywee_basket_step2', {_locale: 'nl'}) }}">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" alt="Nederlandse Versie" width="28" />
    </a>
    <a href="{{ path('dywee_basket_step2', {_locale: 'en'}) }}">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" alt="English Version" width="28" />
    </a>#}
{% endblock %}

{% set formDisplay %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}

    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                {{ form_label(form.lastName, "Nom") }}
                {{ form_errors(form.lastName) }}
                {{ form_widget(form.lastName, {"attr": {"placeholder": "Nom" }}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.firstName, "Prénom") }}
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName, {"attr": {"placeholder": "Prénom"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.companyName, "Nom de l'entreprise (facultatif)") }}
                {{ form_errors(form.companyName) }}
                {{ form_widget(form.companyName, {"attr": {"placeholder": "Nom de l'entreprise (facultatif)"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email.first) }}
                {{ form_errors(form.email.first) }}
                {{ form_widget(form.email.first, {"attr": {"placeholder": "Adresse e-mail"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email.second) }}
                {{ form_errors(form.email.second) }}
                {{ form_widget(form.email.second, {"attr": {"placeholder": "Adresse e-mail"}}) }}
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.mobile, "Mobile (avec l'indicatif de pays)") }}
                {{ form_errors(form.mobile) }}
                {{ form_widget(form.mobile, {"attr": {"placeholder": "Mobile"}}) }}
                <p class="help-block">Exemple: +32478694555</p>
            </div>
            <div class="form-group">
                {{ form_label(form.address1, "Adresse") }}
                {{ form_errors(form.address1) }}
                {{ form_widget(form.address1, {"attr": {"placeholder": "Adresse"}}) }}
            </div>
        </div>
        <div class="col-md-6 well well-sm">
            <p>Si votre numéro de téléphone est pour la France<br> le 06 35 93 25 25<br>
                Veuillez le renseigner comme: +33635932525</p>
            <p>Si votre numéro de téléphone est pour la Belgique<br> le 0498 51 18 83<br>
                Veuillez le renseigner comme: +32498511883</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                {{ form_label(form.zip, "Code postal") }}
                {{ form_errors(form.zip) }}
                {{ form_widget(form.zip, {"attr": {"placeholder": "Code postal"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.cityString, "Ville") }}
                {{ form_errors(form.cityString) }}
                {{ form_widget(form.cityString, {"attr": {"placeholder": "Ville"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.country, "Pays") }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country, {"attr": {"placeholder": "Pays"}}) }}
            </div>

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Suivant'}) }}
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endset %}

{% block bodyContent %}

    <div class="spacer"></div>

    <div class="fuelux hidden-xs">
        <div id="MyWizard" class="wizard">
            <ul class="steps">
                <li data-step="1" class="active"><span class="badge">1</span>Panier<span class="chevron"></span></li>
                <li data-step="2" class="active"><span class="badge">2</span>Facturation<span class="chevron"></span></li>
                <li data-step="3"><span class="badge">3</span>Livraison<span class="chevron"></span></li>
                <li data-step="5"><span class="badge">4</span>Récapitualtif<span class="chevron"></span></li>
            </ul>
        </div>
    </div>

        <h1>{{ 'Vos informations de facturation'|trans }}</h1>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        {% if orderConnexionPermission == 'registered' or orderConnexionPermission == 'both' %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'Commander avec mon compte'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% if app.user %}
                        {{ render(controller('DyweeUserBundle:Basket:billingHelper')) }}
                    {% else %}
                        {{ render(controller('FOSUserBundle:Security:login')) }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if orderConnexionPermission == 'anon' or orderConnexionPermission == 'both' %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a
                    {% if orderConnexionPermission == 'registered' or orderConnexionPermission == 'both' %}
                        class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {% else %}
                        data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    {% endif %}
                        {{ 'Commander sans créer de compte'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse
            {% if orderConnexionPermission != 'registered' and orderConnexionPermission != 'both' %}
            in
            {% endif %}" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {{ formDisplay }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}