{# Dywee\OrderBundle\Resources\View\Order\table.html.twig #}

{%  extends "DyweeOrderBundle::admin.html.twig" %}

{% block viewBody %}
    <div class="actions-right">
        {% if sellType == 'both' %}
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-plus"></i> Ajouter <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="{{ path('dywee_order_add') }}?sellType=1"><i class="fa fa-plus"></i> Ajouter une vente</a></li>
                    <li><a href="{{ path('dywee_order_add') }}?sellType=2"><i class="fa fa-plus"></i> Ajouter une location</a></li>
                </ul>
            </div>
        {% elseif sellType == 'rent' %}
            <a href="{{ path('dywee_order_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter une location</a>
        {% else %}
            <a href="{{ path('dywee_order_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter une vente</a>
        {% endif %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-download"></i> Exporter <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">PDF</a></li>
                <li><a href="{{ path('dywee_order_export_csv', {type: 'current_month'}) }}">Excel</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-filter"></i> Filtrer <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="{{ path('dywee_order_admin_table', {state: -1}) }}">En session</a></li>
                <li><a href="{{ path('dywee_order_admin_table', {state: 1}) }}">En attente</a></li>
                <li><a href="{{ path('dywee_order_admin_table', {state: 2}) }}">Active</a></li>
                <li><a href="{{ path('dywee_order_admin_table', {state: 3}) }}">Finalisée</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('dywee_order_admin_table', {state: 1}) }}">Tout lister</a></li>
                <li><a href="{{ path('dywee_order_table_current_month') }}">Mois courant</a></li>
            </ul>
        </div>
    </div>

    <div class="title-heading">
        <h1 class="text-center">Liste des Commandes ({{ pagination.getTotalItemCount }})</h1>
    </div>
    {% if pagination.getTotalItemCount > 0 %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th{% if pagination.isSorted('o.id') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, '#', 'o.id') }}
                    </th>
                    <th{% if pagination.isSorted('o.reference') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Référence', 'o.reference') }}
                    </th>
                    <th{% if pagination.isSorted('o.invoiceReference') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Facture', 'o.billingAddress.invoiceReference') }}
                        {#<i class="fa fa-file-text"></i>#}</th>
                    <th{% if pagination.isSorted('o.billingAddress.lastName') %} class="sorted"{% endif %}>
                        {#{{ knp_pagination_sortable(pagination, 'Acheteur', 'o.billingAddress.lastName') }}#}
                        Facturation
                    </th>
                    <th{% if pagination.isSorted('o.shippingAddress.') %} class="sorted"{% endif %}>
                        {#{{ knp_pagination_sortable(pagination, 'Receveur', 'o.shippingAddress.lastName') }}#}
                        Livraison
                    </th>
                    <th{% if pagination.isSorted('o.payementMethod') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Paiement', 'o.payementMethod') }}
                    </th>
                    <th{% if pagination.isSorted('o.payementState') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Statut paiement', 'o.payementState') }}
                    </th>
                    <th>Statut</th>
                    <th{% if pagination.isSorted('o.isGift') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Cadeau', 'o.isGift') }}
                        {#<i class="fa fa-gift"></i>#}
                    </th>
                    <th><i class="fa fa-enveloppe-o"></i></th>
                    <th{% if pagination.isSorted('o.totalPrice') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Total', 'o.totalPrice') }}
                    </th>
                    <th{% if pagination.isSorted('o.creationDate') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Commande', 'o.creationDate') }}
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for order in pagination %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.reference }}</td>
                        <td>{{ order.invoiceReference }}</td>
                        <td>
                                {% if order.billingAddress is not null %}
                                    {{ order.billingAddress.lastName }}
                                {% else %}
                                    <span class="label label-default">NC</span>
                                {% endif %}
                            </td>
                        <td>
                                {% if order.shippingAddress is not null %}
                                    {{ order.shippingAddress.lastName }}
                                {% else %}
                                    <span class="label label-default">NC</span>
                                {% endif %}
                            </td>
                        <td>
                                {% if order.payementMethod == 1 %}
                                    <span class="label label-primary">Liquidité</span>
                                {% elseif order.payementMethod == 2 %}
                                    <span class="label label-primary">Virement</span>
                                {% elseif order.payementMethod == 3 %}
                                    <span class="label label-info">Paypal</span>
                                {% elseif order.payementMethod == 4 %}
                                    <span class="label label-info">Ogone</span>
                                {% else %}
                                    <span class="label label-warning">Non renseigné</span>
                                {% endif %}

                        </td>
                        <td>
                                {% if order.payementState == 0 %}
                                    <span class="label label-info">En attente de paiement</span>
                                {% elseif order.payementState == 1 %}
                                    <span class="label label-primary">Accompte donné</span>
                                {% elseif order.payementState == 2 %}
                                    <span class="label label-success">Payé</span>
                                {% elseif order.payementState == 3 %}
                                    <span class="label label-default">Remboursé</span>
                                {% else %}
                                    <span class="label label-danger">Erreur</span>
                                {% endif %}

                        </td>
                        <td>
                                {% if order.state == 0 %}
                                    <span class="label label-warning">Annulée</span>
                                {% elseif order.state == 1 %}
                                    <span class="label label-default">En attente</span>
                                {% elseif order.state == 2 %}
                                    <span class="label label-success">Active</span>
                                {% elseif order.state == 3 %}
                                    <span class="label label-info">Terminée</span>
                                {% elseif order.state == -1 %}
                                    <span class="label label-warning">En session</span>
                                {% else %}
                                    <span class="label label-danger">Erreur</span>
                                {% endif %}
                            </td>
                        <td>{% if order.isGift == 1 %} <i class="fa fa-gift"></i> {% endif %}</td>
                        <td>{% if order.shippingMessage != '' %} <i class="fa fa-envelope"></i> {% endif %}</td>
                        <td>{{ order.totalPrice|number_format(2) }}€</td>
                        <td>{{ order.creationDate|date('d/m/Y') }}</td>
                        <td class="actions"> <a href="{{ path('dywee_order_view', {id: order.id}) }}" ><i class="fa fa-eye"></i> </a>
                                <a href="{{ path('dywee_order_update', {id: order.id}) }}"><i class="fa fa-pencil"></i> </a>
                                <a href="{{ path('dywee_invoice_view', {idOrder: order.id}) }}"><i class="fa fa-file-text"></i> </a>
                                <a href="{{ path('dywee_shipment_table', {idOrder: order.id}) }}"><i class="fa fa-truck"></i> </a>
                                <a href="{{ path('dywee_order_delete', {id: order.id}) }}" data-confirm="Êtes-vous sûr de vouloir supprimer cette commande?"><i class="fa fa-trash-o"></i> </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>Aucune commande n'a été enregistrée.</p>
        <p><a href="{{ path('dywee_order_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter une commande manuellement</a></p>
    {% endif %}
{% endblock %}