{# Dywee\OrderBundle\Resources\View\Basket\shipping.html.twig #}

{%  extends "DyweeOrderBundle::layout.html.twig" %}

{% block title %}
    Adresse de facturation {{ parent() }}
{% endblock %}

{% block translationLinks %}
    <a href="{{ path('dywee_basket_step3', {_locale: 'fr'}) }}"><img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" alt="Version francophone" width="28" /></a>
    {#<a href="{{ path('dywee_basket_step3', {_locale: 'nl'}) }}">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" alt="Nederlandse Versie" width="28" />
    </a>
    <a href="{{ path('dywee_basket_step3', {_locale: 'en'}) }}">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" alt="English Version" width="28" />
    </a>#}
{% endblock %}

{% block bodyContent %}

    <div class="spacer"></div>

    <div class="fuelux hidden-xs">
        <div id="MyWizard" class="wizard">
            <ul class="steps">
                <li data-step="1" class="active"><span class="badge">1</span>Panier<span class="chevron"></span></li>
                <li data-step="2" class="active"><span class="badge">2</span>Facturation<span class="chevron"></span></li>
                <li data-step="3" class="active"><span class="badge">3</span>Livraison<span class="chevron"></span></li>
                <li data-step="5"><span class="badge">4</span>Récapitualtif<span class="chevron"></span></li>
            </ul>
        </div>
    </div>

    <h1>Vos informations de livraison</h1>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        {% if step == 2 %}
            <p class="h4">Commande pour la personne indiquée dans les informations de facturation, choisissez le mode de livraison</p>
        {% endif %}
        {% if mr is defined %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        {{ 'Livraison en point relais'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% include 'DyweeOrderBundle:Basket:shipping-mr.html.twig' %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if home is defined %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{ 'Livraison à domicile'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {% if orderConnexionPermission == 'registered' or orderConnexionPermission == 'both' %}
                        <h5>Une de vos adresses</h5>
                        {% if app.user %}
                            {{ render(controller('DyweeUserBundle:Basket:shippingHelper')) }}
                        {% else %}
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        {% endif %}
                    {% endif %}
                    {% if orderConnexionPermission == 'anon' or orderConnexionPermission == 'both' %}
                        {% if orderConnexionPermission == 'both' %}<h5>Une adresse non enregistrée</h5>{% endif %}
                        {% include 'DyweeOrderBundle:Basket:shipping-home.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if tierce is defined %}
            <p>&nbsp;</p><p class="h4">Pour une commande qui doit être envoyée à un autre destinataire</p>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{ 'Livraison à une tierce personne'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% include 'DyweeOrderBundle:Basket:shipping-tierce.html.twig' %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="spacer"></div>
    </div>
{% endblock %}

{% block js_footer %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!--On charge Google Map API-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!--On charge le widget mondial relay depuis leurs serveurs-->
    <script type="text/javascript" src="http://widget.mondialrelay.com/parcelshop-picker/v3_0/scripts/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>
{% endblock %}