{# Dywee\OrderBundle\Resources\View\Basket\shipping-home.html.twig #}

{% form_theme home 'bootstrap_3_layout.html.twig' %}

{{ form_start(home) }}

{{ form_errors(home) }}

<div class="col-md-6">

    <div class="form-group">
        {{ form_label(home.lastName, "Nom") }}
        {{ form_errors(home.lastName) }}
        {{ form_widget(home.lastName, {"attr": {"placeholder": "Nom"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.firstName, "Prénom") }}
        {{ form_errors(home.firstName) }}
        {{ form_widget(home.firstName, {"attr": {"placeholder": "Prénom"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.companyName, "Nom de l'entreprise (facultatif)") }}
        {{ form_errors(home.companyName) }}
        {{ form_widget(home.companyName, {"attr": {"placeholder": "Nom de l'entreprise (facultatif)"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.email.first) }}
        {{ form_errors(home.email.first) }}
        {{ form_widget(home.email.first, {"attr": {"placeholder": "Adresse e-mail"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.email.second) }}
        {{ form_errors(home.email.second) }}
        {{ form_widget(home.email.second, {"attr": {"placeholder": "Adresse e-mail"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.address1, "Adresse") }}
        {{ form_errors(home.address1) }}
        {{ form_widget(home.address1, {"attr": {"placeholder": "Adresse"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.address2, "Complément d'adresse (apt, bloc, bâtiment..)") }}
        {{ form_errors(home.address2) }}
        {{ form_widget(home.address2, {"attr": {"placeholder": "Complément d'adresse"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.other, "Instruction de livraison (digicode, etc...)") }}
        {{ form_errors(home.other) }}
        {{ form_widget(home.other, {"attr": {"placeholder": "Instruction de livraison"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.zip, "Code postal") }}
        {{ form_errors(home.zip) }}
        {{ form_widget(home.zip, {"attr": {"placeholder": "Code postal"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.cityString, "Ville") }}
        {{ form_errors(home.cityString) }}
        {{ form_widget(home.cityString, {"attr": {"placeholder": "Ville"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.country, "Pays") }}
        {{ form_errors(home.country) }}
        {{ form_widget(home.country, {"attr": {"placeholder": "Pays"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(home.mobile, "Mobile") }}
        {{ form_errors(home.mobile) }}
        {{ form_widget(home.mobile, {"attr": {"placeholder": "Mobile"}}) }}
    </div>
    {{ form_widget(home.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Suivant'}) }}
</div>

{{ form_rest(home) }}

{{ form_end(home) }}