{# Dywee\OrderBundle\Resources\View\Order\form.html.twig #}

{% form_theme form 'DyweeOrderBundle:Form:collection_widget.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_widget(form.save, {'attr': {'class': 'btn-success pull-right'}}) }}

<ul id="descriptions" class="nav nav-tabs">
    <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-font"></i> Contenu</a></li>
    <li><a href="#settings" data-toggle="tab"><i class="fa fa-cog"></i> Paramètres</a></li>
</ul>

<div class="spacer"></div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="content">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="box box-default" style="min-height: 220px">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Description</h2>
                    </div>
                    <div class="box-body">
                        {{ form_widget(form.description) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box box-default text-center with-border" style="min-height: 220px">
                    <div class="box-header">
                        <h2 class="box-title">Client</h2>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.billingAddress) }}
                        {{ form_row(form.shippingAddress) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Contenu</h2>
                    </div>
                    <div id="orderElement-wrapper">
                        {{ form_widget(form.orderElements) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade in" id="settings">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Paramètres</h2>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.beginAt) }}

                        {{ form_row(form.endAt) }}

                        {#
                        {{ form_row(form.discountRate) }}

                        {{ form_row(form.discountValue) }}
                        #}
                        {{ form_row(form.state) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="hide">
    {{ form_widget(form.orderRentElements) }}
</div>

{{ form_rest(form) }}

{{ form_end(form) }}