{# Dywee\OrderBundle\Resources\View\Order\form.html.twig #}

{% form_theme form 'DyweeOrderBundle:Form:collection_widget.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}

<button type="submit" id="base_order_save" name="base_order[save]" class="btn-success pull-right btn"><i class="fa fa-save"></i> Sauvegarder</button>

<ul id="descriptions" class="nav nav-tabs">
    <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-font"></i> Contenu</a></li>
    <li><a href="#rent" data-toggle="tab"><i class="fa fa-cog"></i> Location</a></li>
    <li><a href="#discount" data-toggle="tab"><i class="fa fa-percent"></i> Réduction</a></li>
    <li><a href="#shipping" data-toggle="tab"><i class="fa fa-truck"></i> Livraison</a></li>
    <li><a href="#payment" data-toggle="tab"><i class="fa fa-truck"></i> Paiement</a></li>
    <li><a href="#state" data-toggle="tab"><i class="fa fa-cog"></i> Statut</a></li>
</ul>

<div class="spacer"></div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="content">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="box box-default" style="min-height: 220px">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Description</h2>
                    </div>
                    <div class="box-body">
                        {{ form_widget(form.description) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box box-default text-center with-border" style="min-height: 220px">
                    <div class="box-header with-border">
                        <h2 class="box-title">Client</h2>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.billingAddress) }}
                        {{ form_row(form.shippingAddress) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Contenu</h2>
                    </div>
                    <div id="orderElement-wrapper">
                        {{ form_widget(form.orderElements) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade in" id="rent">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Location</h2>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.beginAt) }}

                        {{ form_row(form.endAt) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade in" id="discount">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Réduction</h2>
                    </div>
                    <div class="box-body">
                        <p>En développement</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade in" id="shipping">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Livraison</h2>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.shippingMethod) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade in" id="payment">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Paiement</h2>
                    </div>
                    <div class="box-body">
                        <p>En développement</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade in" id="state">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header text-center with-border">
                        <h2 class="box-title">Statut</h2>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.state) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="hide">
    {{ form_widget(form.orderRentElements) }}
</div>

{{ form_rest(form) }}

{{ form_end(form) }}