{# Dywee\OrderBundle\Resources\View\Order\view.html.twig #}

{% extends "DyweeOrderBundle::admin.html.twig" %}

{% block body %}

    {% set firstTableColspan = 3 %}{% set lastTableColspan = 1 %}
    {% if order.containsElementReduction() == true %}{% set firstTableColspan = 4 %}{% set lastTableColspan = 2 %}{% endif %}

    <div class="title-heading">
        <div class="pull-right">
            <a href="{{ path('order_table') }}" class="btn btn-default"><i class="fa fa-angle-left"></i> Retour à la liste des commandes</a>
            <a href="{{ path('order_update', {id: order.id}) }}" class="btn btn-default"><i class="fa fa-pencil"></i> Editer</a>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#" class="disabled"><i class="fa fa-file-pdf-o"></i> Facture</a></li>
                    <li><a href="#" class="disabled"><i class="fa fa-file-pdf-o"></i> Note d'envoi</a></li>
                    {#<li><a href="#" class="disabled"><i class="fa fa-file-excel-o"></i> Excel</a></li>#}
                </ul>
            </div>
            {#<a href="{{ path('dywee_order_print', {id: order.id}) }}" class="btn btn-default" onclick="changeFa(this)"><i class="fa fa-file-pdf-o"></i> PDF</a>
            <a href="{{ path('dywee_order_send', {id: order.id}) }}" class="btn btn-default"><i class="fa fa-envelope"></i> Envoyer par email</a>#}
        </div>
        <h1>Détail de la commande {{ order.invoiceReference }}</h1>
    </div>
    {% if order.description != '' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Commentaire/description</h3>
            </div>
            <div class="panel-body">
                {{ order.description }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Récapitulatif de la commande <span class="pull-right">ref: {{ order.reference }}</span></h3></div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {#<th>Dates</th>
                        <th>Jours</th>#}
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        {#<th>Dég.</th>#}
                        <th>Quantité</th>
                        {% if order.containsElementReduction() == true %}<th>Réduction</th>{% endif %}
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for orderElement in order.orderElements %}
                        <tr>
                            {#<td>Du {{ orderElement.beginAt|date('d/m/Y') }}<br>Au {{ orderElement.endAt|date('d/m/Y') }}</td>
                            <td>{{ orderElement.duration }}</td>#}
                            <td>{{ orderElement.product.name }}</td>
                            <td>{{ orderElement.unitPrice|number_format(2) }}€</td>
                            <td>{{ orderElement.quantity }}</td>
                            {#<td>{{ orderElement.locationCoeff }}</td>#}
                            {% if order.containsElementReduction() == true %}
                                <td>
                                    {% if orderElement.discountValue > 0 %}{{ orderElement.discountRate }}%{% endif %}
                                </td>
                            {% endif %}
                            <td>{{ orderElement.totalPrice|number_format(2) }}€</td>
                        </tr>
                    {% endfor %}
                    <tr class="active">
                        <td colspan="{{ firstTableColspan }}">Prix HTT</td>
                        <td colspan="{{ lastTableColspan }}">{{ order.PriceVatExcl|number_format(2) }}€</td>
                    </tr>
                    {% if order.DiscountValue > 0 %}
                        <tr>
                            <td colspan="{{ firstTableColspan }}">Réduction</td>
                            <td colspan="{{ lastTableColspan }}">- {{ order.discountValue|number_format(2) }}€ ({{ order.discountRate }}% de réduction)</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="{{ firstTableColspan }}">TVA</td>
                        <td colspan="{{ lastTableColspan }}">{{ order.vatPrice|number_format(2) }}€ ({{ order.vatRate }}%)</td>
                    </tr>
                    <tr class="active">
                        <td colspan="{{ firstTableColspan }}">Prix TTC </td>
                        <td colspan="{{ lastTableColspan }}">{{ order.PriceVatIncl|number_format(2) }}€</td>
                    </tr>
                    {% if order.shippingCost > 0 %}
                        <tr>
                            <td colspan="{{ firstTableColspan }}">Frais de transport (TTC)</td>
                            <td colspan="{{ lastTableColspan }}">{{ order.deliveryCost|number_format(2) }}€</td>
                        </tr>
                    {% endif %}
                    <tr class="success">
                        <td colspan="{{ firstTableColspan }}">Total TTC</td>
                        <td colspan="{{ lastTableColspan }}">{{ order.totalPrice|number_format(2) }}€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Liste des envois</h2>
                </div>
                {% if order.getShipments|length > 0 %}
                    <table class="table table-stripped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Index</th>
                            <th>date d'envoi</th>
                            <th>Produits</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shipment in order.getShipments %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ shipment.sendingIndex }}</td>
                                <td>{{ shipment.departureAt|date('d/m/Y') }}</td>
                                <td>{{ shipment.countElements }}</td>
                                <td>{% include 'DyweeShipmentBundle:Shipment:state.html.twig' %}</td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('shipment_view', {id: shipment.id, referer: true}) }}"><i class="faf fa-eye"></i> </a>
                                        <a href="{{ path('shipment_edit', {id: shipment.id, referer: true}) }}"><i class="faf fa-pencil"></i> </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">
                        <p>Pas d'envoi trouvé</p>
                    </div>
                {% endif %}
                <div class="panel-body">
                    <a href="#" class="btn btn-default btn-block disabled"><i class="fa fa-refresh"></i> Recalculer les envois</a>
                </div>
            </div>
        </div>
    </div>

    {% if not order.shippingMessage == '' %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ 'Message pour la livraison'|trans }}</h3></div>
            <div class="panel-body">
                {{ order.shippingMessage }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" id="payment">
                <div class="panel-heading"><h3 class="panel-title">Informations</h3></div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Date de la commande</th>
                        <th>Date du dernier traitement</th>
                        {% if order.endAt is not null %}
                            <th>Date de retour</th>
                        {% endif %}
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order.createdAt|date('d/m/Y à H\\hi') }}</td>
                        <td>{{ order.validatedAt|date('d/m/Y à H\\hi') }}</td>
                        {% if order.endAt is not null %}
                            <td>{{ order.endAt|date('d/m/Y') }}</td>
                        {% endif %}
                        <td>{{ order.state|trans }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Paiement</h3> </div>
                <table class="table table-bordered">
                    <tr>
                        <th>Statut du payment</th>
                        <th>Moyen de paiement</th>
                        <th>Accompte</th>
                        <th>Détail paiement</th>
                    </tr>
                    <tr>
                        <td colspan="4">Bientot disponible</td>
                    </tr>
                    {#<tr>
                        {#<td>
                            {% if order.paymentState == 0 %}
                                <span class="label label-info">En attente de paiement</span>
                            {% elseif order.paymentState == 1 %}
                                <span class="label label-primary">Acompte donné</span>
                            {% elseif order.paymentState == 2 %}
                                <span class="label label-success">Payé</span>
                            {% elseif order.paymentState == 3 %}
                                <span class="label label-default">Remboursé</span>
                            {% else %}
                                <span class="label label-danger">Erreur</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if order.paymentMethod == 1 %}
                                <span class="label label-primary">Liquidité</span>
                            {% elseif order.paymentMethod == 2 %}
                                <span class="label label-primary">Virement</span>
                            {% elseif order.paymentMethod == 3 %}
                                <span class="label label-info">Paypal</span>
                            {% elseif order.paymentMethod == 4 %}
                                <span class="label label-info">Ogone</span>
                            {% else %}
                                <span class="label label-warning">Non renseigné</span>
                            {% endif %}#}
                        {#</td>
                        <td>{{ order.deposit|number_format(2) }}€</td>
                        <td><a href="#{# path('dywee_order_payment_overview', {id: order.id})">Détail paiement</a></td>
                    </tr>#}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Adresse de Facturation</h3></div>
                <div class="panel-body">
                    {% if order.billingAddress is not null %}
                        {% set address = order.shippingAddress %}
                        {%  include 'DyweeAddressBundle:Address:view_wrapped.html.twig' %}
                        <p><a href="{{ path('address_admin_update', {id: address.id}) }}" class="btn btn-default btn-block"><i class="fa fa-pencil"></i> Modifier</a> </p>
                    {% else %}
                        {{ 'address.notDefined'|trans }}
                    {% endif %}
                </div>
            </div></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Adresse de livraison</h3></div>
                <div class="panel-body">
                    {% if order.shippingAddress is not null %}
                        {% set address = order.billingAddress %}
                        {% include 'DyweeAddressBundle:Address:view_wrapped.html.twig' %}
                        <p><a href="{{ path('address_admin_update', {id: address.id}) }}" class="btn btn-default btn-block"><i class="fa fa-pencil"></i> Modifier</a> </p>
                    {% else %}
                        {{ 'address.notDefined'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Moyen de livraison</h3></div>
                <div class="panel-body">
                    {% if order.shippingMethod %}
                        <p>{{ order.shippingMethod.name }} ({{ order.shippingMethod.price|number_format(2) }}€)</p>
                    {% else %}
                        <p>Pas de méthode de livraison renseignée</p>
                    {% endif %}
                    <p>Etat: Bientôt disponible</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}